/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mar-2017, 11.46.30
    Author     : Edoardo
*/
body{
    background-color: #ECF0F1;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color:#2980B9;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;  
}

h1{
    font-size: 25px;
    line-height: 26px;
    font-style: normal;
    font-weight: bold;
   
}

h2{
    font-size:20px;
    line-height: 15px;
    font-style: normal;
    font-weight: bold;
}

h3{
    font-size:18px;
    line-height: 15px;
    font-style: normal;
    font-weight: bold;
    
}

a:link{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color:#3498DB;
}

a:visited{
    /*text-decoration: none;*/
    font-size: 20px;
    font-weight: bold;
    color:#3498DB;
    text-decoration: underline;
    
}
a:hover{
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color:#E74C3C;
}
a:active{
   text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color:#E74C3C; 
}

input,textarea{
    color:#2980B9;
    background-color:#ECF0F1;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    /*font-weight: bold;*/
    
}

img{
    max-width: 400px;
    max-height: 400px;
}

li{
    list-style-type: decimal;
    color:#3498DB;
    font-size: 20px;
    font-weight: bold;
}


#titledescr{
    font-size:24px;
    line-height: 26px;
    font-style: normal;
    font-weight: bold; 
}

div#link{
    background-color: #2C3E50;
    border-radius: 25px;
    width: 250px;
    height: 100px; 
    padding-bottom: 15px;
    padding-top: 5px;    
}

header#title{
    font-size:30px;
    line-height: 50px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #2C3E50;
    color:#3498DB;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 30px;   
    
}

body#bodyBach{
    margin: 0px;
}

#titleNet{   
    background-color:#2C3E50;
    padding:8px;
    margin: 0px;
    display: inline;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 17px;
    padding-left:30px;
    border:2px solid #aaaaaa;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#linkBach,#linkProf{
    display:inline-block;
    padding: 25px;
    font-size: 20px;
    
}
#linkBach{
    background-color: #2C3E50;
    padding: 25px;
    margin: 0px;
    border:2px solid #E74C3C;
}

#linkProf{
  padding: 25px;
  margin: 0px;
  width: 80.453px;
  height: 26px;
  margin-right: -10px;
  margin-left: -10px;
  border:hidden;
  padding-top: 27px;
}



header#titleBac{
    font-size:30px;
    line-height: 50px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #ECF0F1;
    color:#3498DB;
    margin: 0px;
    
      
}

div#lateral{
    float:left;
    width: 119px;   
}

article#posts{
    margin-left: 200px;
    
}

nav#link{
    margin-left: 200px;
}

#post1,#post2,#post3{
    margin:0px;
}

.fotoProfilo{
    display:inline;
}

.fotoProfilo img{
    position:relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display:inline;
}

.nameuser{
    display: inline-block;
}






